<!-- start footer -->
<footer class="bg-gradient-to-b from-black via-[#120e1e] to-[#2c2248] text-gray-200 py-10 md:pb-14 md:pt-20 border border-t border-violet-900">
  <div class="container mx-auto">
    <div class="flex  justify-around flex-wrap flex-col md:flex-row text-center md:text-start pb-10">
      <div class="my-4 md:my-0 reveal-from-left">
        <h2 class="text-2xl font-bold mb-3 md:mb-10 mainColor cursor-pointer" routerLink="/home">Audience Pulse</h2>
        <p class="text-lg font-medium">
          Identify and Connect <br> with Key Decision Makers
        </p>
      </div>
      <div class=" flex justify-around md:justify-center lg:justify-around items-center flex-wrap  my-6 md:my-0 px-16 md:px-0">
        <div class="my-4 md:my-0  md:me-12 lg:me-32 w-full sm:w-4/12 reveal-from-top">
          <h3 class="text-lg font-medium mb-4 md:mb-10">Pages</h3>
          <ul class="space-y-1 md:space-y-2 ">
            <li class="list cursor-pointer"  routerLink="/home">Home</li>
            <li class="list cursor-pointer"  routerLink="/latest_work">Latest Works</li>
            <li class="list cursor-pointer"  routerLink="/dashboard">Dashboard</li>
            <li class="list cursor-pointer"  routerLink="/contact">Contact</li>
          </ul>
        </div>
        <div class="my-4 md:my-0  w-full sm:w-4/12 reveal-from-bottom">
          <h3 class="text-lg font-medium mb-4 md:mb-10">Contact</h3>
          <ul class="space-y-1 md:space-y-2">
            <li class=" list flex items-center justify-center md:justify-start cursor-pointer ">
              <i class="fa-solid fa-envelope me-4 text-purple-500"></i>
              <span>info&#64;audiencepulse.com</span>
            </li>
            <li class="list flex items-center justify-center md:justify-start cursor-pointer ">
              <i class="fa-solid fa-phone-volume me-4 text-purple-500"></i>
              <span>+1 (555) 123-4567</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="my-4 md:my-0 reveal-from-right">
        <h3 class="text-lg font-medium mb-4 md:mb-10">Follow Us</h3>
        <ul class="flex space-x-4  items-center justify-center">
          <li>
            <i class="fa-brands fa-linkedin text-2xl hover:text-sky-500 cursor-pointer"></i>
          </li>
          <li>
            <i class="fa-brands fa-facebook text-2xl hover:text-blue-500 cursor-pointer"></i>
          </li>
          <li>
            <i class="fa-brands fa-youtube text-2xl hover:text-red-600 cursor-pointer"></i>
          </li>
        </ul>
      </div>
    </div>

    <!-- Divider / Horizontal Rule (optional) -->
    <div class="border-t border-gray-700 mb-4"></div>

    <!-- Bottom Section: Copyright -->
    <div class="text-center text-sm reveal-from-bottom">
      © 2025 Create. All rights reserved.
    </div>
  </div>
</footer>

